<div class='container'>
  <h1><%= @list.name.capitalize %></h1>
  <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#movie" href="">Add a Movie</a>
</div>

<div class="container">
  <div class="row">
        <% @list.bookmarks.each do |bookmark| %>
        <% movie = Movie.find(bookmark.movie_id) %>
    <div class="col-4">
      <div class="card" style="width: 300px; overflow: hidden;">
          <%= image_tag movie.poster_url, height:300, width:300 %>
        <div class="card-body">
          <div class="card-content">
              <strong><%= movie.title %></strong>
              <br>
              <div class="overview">
                <em><%= movie.overview %></em>
              </div>
              <br>
              <%= movie.rating %>/10
          </div>
          <div class="card-action">
              <%= link_to "Delete",
              bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class:"btn btn-danger" %>
          </div>
        </div>
    </div>
  </div>
      <% end %>
</div>

<%= render 'modal' %>
<%= render 'modal-movie' %>
