<h1><%= @list.name.capitalize %></h1>

<h2>Movies</h2>

  <% @list.movies.each do |movie| %>
  <%= movie.title %>: <%= @bookmark.comment %>
  <%= movie.rating %>
  <%= image_tag movie.poster_url, height:300, width:300 %>
  <% end %>
    <% @list.bookmarks.each do |bookmark| %>
    <%= bookmark.comment %>
    <% end %>
  <%= link_to "Delete",
    bookmark_path,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<h2>Add a movie</h2>
<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.association :movie %>
<%= f.input :comment %>
<%= f.submit %>
<% end %>

<%= render 'modal' %>
