<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar">
      <div class="icon">
      <a href="">
        <%= image_tag 'Bowser.webp', height:50 %>
      </a>
      </div>
      <div class="actions">
        <%= link_to "Back to all lists", lists_path %>
        <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Create a list</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
